{
  "plugins": [
    ["module-resolver", {
      "root": [
        "./", // Project root
        "./app", // App sources root
        "./specs" // Specs root
      ]
    }],
    "transform-decorators-legacy",
    "lodash",
    "transform-strict-mode"
  ],
  "presets": [
    "jest",
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "root": [
            "./", // Project root
            "./app", // App sources root
            "./specs" // Specs root
          ]
        }],
        "transform-decorators-legacy",
        "lodash",
        "transform-strict-mode"
      ],
      "presets": [
        "jest",
        [
          "env",
          {
            "useBuiltIns": true
          }
        ],
        "react",
        "stage-0"
      ]
    }
  }
}
